body > *{
	margin-left: 100px;

}

html {margin-top: 0px;
	padding-top: 0px;}

input#link
{
margin-bottom: 5px;
}

li {
  cursor:pointer;
}

h1{
	padding-top: 5px;
	margin-top: 0px;
	color: #fff;
	font-size: 55px;
    letter-spacing: -4px; 
}
.track {
margin-left: 5px;

}

.track > img
{
  margin:auto;
  width: 100px;
}

.track > img:hover {
	opacity: 0.5;
}

#header{

	height: 80px;
	padding-top: 10px;
	padding-left: 1%;
	width: 100%;
	background-color: black;

}

#header_contrast {
	margin-left: -1%;
	height: 5px;
	border-top: 3px groove  #fff;
	background-color: #fff;
}

#tracks{
	height: 100%;
	background-color: black;
	top : 0%;
	left: 0px;
	margin-left: 0px;
	position: fixed;
	overflow: auto;
}

#footer {

position: absolute;
height: 140px;
width: 230px;
top:-5px;
right:10%;
background-color: #fafafa;
border-radius: 5px;
box-shadow: 2px 5px 5px black;
padding:10px 15px 15px 15px;

}

#controls {
	width: 130px;
	margin: auto;
	margin-top: 3%;
}

 #info {
 	width:100%;
 	margin-top: 15%;

 }

 #song_header {
 	margin-bottom: 3%;
 }

  #song_header > * 
 {
 	display: inline-block;
 	vertical-align: bottom;
 }

 #song_header > img {
 	border: 5px solid black;
 	margin-right: 5px;
 }

 #song_header > h3 {
 	font-weight: bold;
 }

  #song_header > * > a {
 	font-weight: normal;
 	text-decoration: none;
 	cursor: pointer;
 	font-size: 1em;
 }



#tracks_div ::-webkit-scrollbar{width:9px;height:9px;}
#tracks_div ::-webkit-scrollbar-button:start:decrement,#tracks_div ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
#tracks_div ::-webkit-scrollbar-track-piece{background-color:#0; padding-right: 5px;}
#tracks_div ::-webkit-scrollbar-thumb:vertical{background-color:#aaa;}
