input#link
{
margin-bottom: 0px;
}

li {
  cursor:pointer;
}

ul > *
{
  display: inline-block;
}

#footer {

position: fixed;
visibility: hidden;
bottom: 0px;
height: 100px;
background-color: #e8e8e8;
width: 100%;
border-top: 1px solid black;
padding:10px 15px 15px 15px;

}

#player {
	padding-top: 15px;
	width: 30%;
	margin: auto;
}

